
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.container {
    padding: 20px;
}

.header h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.header .qr-code {
    width: 150px;
    height: 140px;
}

.logo {
    width: 170px;
}

.d-flex {
    display: flex;
    align-items: flex-start;
}

.text-center {
    flex: 1;
    text-align: center;
}

.qr-code,
.logo {
    align-self: flex-start;
    margin-top: 0;
}

.certificate-number {
    border: 0.5px solid black;
    width: 470px;
    padding-bottom: 20px;
    border-radius: 50px;
    margin-bottom: 0;
    text-align: center;
    font-size: 19px;
}

.details-table {
    font-size: 15px;
}
.online{
    font-size: 16px;
}
.certified{
    font-size: 15px;
}
.regional{
    font-size: 15px;
}

@media print {

    .table th,
    .table td,
    .table td span,
    .table th span {
        padding: 2px;
        font-size: 10px;
    }
}

.inset {
    position: relative;
    border-top: 1px solid black;
    border-right: 0;
    border-left: 1px solid black;
    width: 150px;
}

.inset2 {
    position: relative;
    border-top: 1px solid black;
    border-left: 0;
    border-right: 1px solid black;
    width: 150px;
}

.inset3 {
    position: relative;
    border-left: 1px solid black;
    bottom: 16px;
}

.inset4 {
    position: relative;
    border-right: 1px solid black;
    bottom: 16px;
}

.inset5 {
    position: relative;
    border-left: 1px solid black;
    bottom: 33px;
}

.inset6 {
    position: relative;
    border-right: 1px solid black;
    bottom: 33px;
}

.inset7 {
    position: relative;
    border-left: 1px solid black;
    bottom: 50px;
}

.inset8 {
    position: relative;
    border-right: 1px solid black;
    bottom: 50px;
}

.inset9 {
    position: relative;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    bottom: 67px;
}

.inset10 {
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    bottom: 67px;
}

.inset11 {
    position: relative;
    border-top: 1px solid black;
    border-right: 0;
    border-left: 1px solid black;
    width: 350px;
}

.inset12 {
    position: relative;
    border-top: 1px solid black;
    border-left: 0;
    border-right: 1px solid black;
    width: 470px;
}

.inset13 {
    position: relative;
    border-left: 1px solid black;
    bottom: 16px;
}

.inset14 {
    position: relative;
    border-right: 1px solid black;
    bottom: 16px;
}

.inset15 {
    position: relative;
    border-left: 1px solid black;
    bottom: 33px;
}

.inset16 {
    position: relative;
    border-right: 1px solid black;
    bottom: 33px;
}

.inset17 {
    position: relative;
    border-left: 1px solid black;
    bottom: 50px;
}

.inset18 {
    position: relative;
    border-right: 1px solid black;
    bottom: 50px;
}

.inset19 {
    position: relative;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    bottom: 67px;
    color: white;
}

.inset20 {
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    bottom: 67px;
    color: white;
}