{% extends 'base.html' %}
{% load static %}
{% block title %} RTO || Certificate {% endblock title %}
{% block link %}{% static 'css/certificate_view.css' %}{% endblock link %}
{% block content %}

<style>

    @media print {
        .container {
            width: 100%;
            max-width: 210mm;
            /* A4 width in mm */
            padding: 10mm;
            /* Adjust padding as needed */
            margin: 0 auto;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .container {
            padding: 0;
        }

        .text-center h1 {
            font-size: 30px;
        }

        .text-center h2 {
            font-size: 18px;
        }

        .logo {
            width: 170px;
        }

        .header .qr-code {
            width: 130px;
        }

        table tr,th,td{
            font-size: 4px;
        }

        #printButton {
            display: none;
        }
    }
</style>

<div class="container">
    <div class="header d-flex justify-content-between align-items-center mb-4">
        <img src="{% static 'images/logo.png' %}" alt="SM Logo" class="logo">
        <div class="text-center">
            <h1 class="mb-0" style="color: black;font-weight: bold;">SE TECHNOLOGIES</h1><br>
            <h2 class="mb-0" style="color: black;font-weight: 650;">VEHICLE REVERSE CAMERA ONLINE
                FITMENT CERTIFICATE</h2>
        </div>
    </div>

    <div class="section d-flex justify-content-between" style="font-size: 11px;">
        <div class="text-start">

            <strong> To: </strong> <br>

            The Regional Transport Authority <br>

            <strong>{{vehicle.rto}}</strong>
        </div>
        <div class="text-start">

            Fitment Date: <span><b>{{vehicle.created_at|date:"d-F-Y"}}</b></span><br>

            Certificate No.: <span><b>CF-{{ vehicle.created_at|date:"dmY" }}SMT-{{vehicle.id}}</b></span>

        </div>
    </div>

    <table class="table table-bordered mb-1">

        <tr>
            <th colspan="2" style="border: 1px solid black;padding: 2px;font-size: 13px;">Vehicle Details</th>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Registration No : <span
                    style="font-weight: 700;">{{vehicle.vehicle_no}}</span></td>
            <td style="border: 1px solid black;padding: 1px;">Registration Year : <span
                    style="font-weight: 700;">{{vehicle.registration_year}}</span></td>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Chassis No : <span
                    style="font-weight: 700;">{{vehicle.chassis_no}}</span></td>
            <td style="border: 1px solid black;padding: 1px;">Engine No : <span
                    style="font-weight: 700;">{{vehicle.engine_no}}</span></td>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Vehicle Make : <span
                    style="font-weight: 700;">{{vehicle.vehicle_make}}</span></td>
            <td style="border: 1px solid black;padding: 1px;">Vehicle Model : <span
                    style="font-weight: 700;">{{vehicle.vehicle_model}}</span></td>
        </tr>

    </table>

    <table class="table table-bordered mb-1">

        <tr>
            <th colspan="1" style="border: 1px solid black;padding: 1px;">Vehicle Owner Details</th>
            <th style="border: 1px solid black;padding: 1px;font-weight: 700;">Manufacturer Name :<span
                    style="font-weight: 700;">{{vehicle.manufacturer_name}}</span></th>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Owner Name / Company Name : <span
                    style="font-weight: 700;">{{vehicle.owner_name}}</span> </td>
            <td style="border: 1px solid black;padding: 1px;">Distributor Name : <span
                    style="font-weight: 700;">{{vehicle.distributor_name}}</span></td>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Mobile No : <span
                    style="font-weight: 700;">{{vehicle.mobile_no}}</span></td>
            <td rowspan="2" style="border: 1px solid black;padding: 1px;">Distributor Address : <span
                    style="font-weight: 700;">{{vehicle.distributor_address}}</span></td>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Owner Address : <span
                    style="font-weight: 700;">{{vehicle.owner_address}}</span></td>
        </tr>

    </table>

    <table class="table table-bordered mb-1">

        <tr>
            <th colspan="2" style="border: 1px solid black;padding: 2px;">Product Details</th>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Primey Camera</td>
            <td style="border: 1px solid black;padding: 1px;">Secondary Camera</td>
        </tr>

        <tr>
            <td style="border: 1px solid black;padding: 1px;">Camera Serial Number : <span
                    style="font-weight: 700;">{{ vehicle.camera_serial_number_primary }}</span></td>
            <td style="border: 1px solid black;padding: 1px;">Camera Serial Number : <span
                    style="font-weight: 700;">{{ vehicle.camera_serial_number_secondary }}</span></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;padding: 1px;">Model Number: <span
                    style="font-weight: 700;">{{ vehicle.model_number_primary }}</span></td>
            <td style="border: 1px solid black;padding: 1px;">Model Number: <span
                    style="font-weight: 700;">{{ vehicle.model_number_secondary }}</span></td>
        </tr>
    </table>

    <!-- certificate_view.html -->

    <table class="table table-bordered mb-4">
        <tr>
            <th style="border: 1px solid black;padding: 2px;">Vehicle Number Plate View</th>
            <th style="border: 1px solid black;padding: 2px;">Camera Image</th>
            <th style="border: 1px solid black;padding: 2px;">Sensor Image</th>
            <th style="border: 1px solid black;padding: 2px;">Display Image</th>
        </tr>
        <tr>
            <td class="text-center" style="border: 1px solid black;padding: 1px;">
                <img src="{{ vehicle.Vehicle_number_plate_view.url }}" alt="Vehicle Number Plate View" class="p-1"
                    style="text-align: center;" width="170" height="200">
            </td>
            <td class="text-center" style="border: 1px solid black;padding: 1px;">
                <img src="{{ vehicle.Camera_image.url }}" alt="Camera Image" class="p-1" width="170" height="200">
            </td>
            <td class="text-center" style="border: 1px solid black;padding: 1px;">
                <img src="{{ vehicle.Sensor_image.url }}" alt="Sensor Image" class="p-1" width="170" height="200">
            </td>
            <td class="text-center" style="border: 1px solid black;padding: 1px;">
                <img src="{{ vehicle.Display_image.url }}" alt="Display Image" class="p-1" width="170" height="200">
            </td>
        </tr>

        <tr>
            <td colspan="4" style="border: 1px solid black;padding: 1px;">
                <p class="mb-4" style="font-size: 10px;font-weight: 700;">This is certifying that following vehicle has
                    been fitted and activated with approved Reverse Camera as
                    per Standard which is activated live monitoring and more features, unless the device tampered or the
                    seal is Broken by unauthorized technicians or individual.</p>
            </td>
        </tr>

        <tr>
            <td class="text-center" colspan="2" style="border: 1px solid black;padding: 1px">
                <br><br><br><span style="font-weight: 500;"><b>Authorised Dealer Signature</b></span>

            </td>
            <td class="text-center" style="border: 1px solid black;padding: 1px;">
                <br><br><br><span style="font-weight: 500;"><b>Customer Signature</b></span>

            </td>
            <td class="text-center" style="border: 1px solid black;padding: 1px;">
                <br><br><br><span style="font-weight: 500;"><b>Distributor Signature</b></span>
            </td>
        </tr>

    </table>
</div>

{% endblock content %}